.search {
  &__searchBar--label {
    padding: 1rem;
    background-color: $color-main3;

    display: grid;
    justify-items: center;
  }
  &__searchBar--input {
    border: 1px solid rgb(201, 201, 201);
    width: 12rem;
    padding: 5px;
    padding-left: 1rem;
    border-radius: 4px;
  }
  &__intro {
    text-align: center;
  }
}

.card {
  cursor: pointer;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  border: 0 solid rgb(235, 235, 235);
  padding: 1rem;
  width: 10rem;
  display: grid;
  grid-template-rows: max-content max-content max-content;
  justify-content: space-evenly;
  justify-items: center;
  text-align: center;
  grid-gap: 0.5rem;

  &--wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 12rem);
    justify-content: center;
    grid-gap: 2rem 3rem;
  }

  &__img {
    height: 10rem;
    width: auto;
    object-fit: contain;
  }
  &__title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
  }
  &__author {
  }
}
