.btn {
  font-weight: 600;
  font-size: 1.125rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s;

  &__link {
    text-decoration: underline !important;
  }

  &--success {
    // Success
    @include btnRest($color-main0, $color-main1);

    &:hover {
      @include btnActive($color-main7, $color-main0, $color-main0);
    }
  }

  &--setting-one {
    // Cancel
    @include btnRest($color-main3, $color-main5);

    &:hover {
      @include btnActive($color-main6, $color-main3, $color-main3);
    }
  }

  &--setting-two {
    // Add / Change Image
    @include btnRest($color-main2, $color-main1);

    &:hover {
      @include btnActive($color-main3, $color-main2, $color-main2);
    }
  }
  &--setting-danger {
    // Delete / Danger
    @include btnActive($color-main1, $color-danger, $color-danger);

    &:hover {
      @include btnRest($color-danger, $color-main1);
    }
  }
}
