// home section
.whatAreWe {
  height: 50vh;
  position: relative;
  z-index: 0;
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 0 1rem 1rem 1rem;

    display: grid;
    grid-row: repeat(3, max-content);
    justify-items: center;
  }

  &__text {
    color: $color-main1;
  }
  &__intro {
  }
  &__message {
  }
  &__reference {
    justify-self: end;
  }
}

.cta {
  text-align: center;
  display: grid;
  justify-content: center;
  justify-items: center;

  &__welcome {
    font-style: italic;
    color: $color-main6;
  }

  &__description {
    width: 90%;
    @include respond(md) {
      width: 55%;
    }
  }
  &__btn {
  }
}
