$color-main0: rgb(39, 44, 49); // dark blue
$color-main0--opacity: rgba(39, 44, 49, 0.9); // dark blue
$color-main5: black;

$color-main6: rgb(89, 99, 105); // dark grey
$color-main2: rgb(117, 130, 138); // medium grey
$color-main3: rgb(233, 233, 233); // light grey
$color-main1: white;

$color-danger: salmon; // danger color
$color-find: rgb(35, 112, 128);
$color-star: rgb(248, 255, 14);

@mixin btn {
}

// Media Query
/* 
375px - 480px    sm-mobile
769px - 1024px   md-laptop
1025px - 1200px  lg-laptop

$breakpoint argument 

sm

md

lg
*/

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (min-width: 375px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (min-width: 1025) {
      @content;
    }
  }
}
