$color-main0: rgb(39, 44, 49); // dark blue
$color-main0--opacity: rgba(39, 44, 49, 0.9); // dark blue w/ opacity
$color-main7: rgb(169, 169, 241); // light blue
$color-main5: black;

$color-main6: rgb(89, 99, 105); // dark grey
$color-main2: rgb(117, 130, 138); // medium grey
$color-main3: rgb(233, 233, 233); // light grey
$color-main1: white;

$color-danger: rgb(255, 89, 71); // danger color
$color-danger--light: rgb(255, 188, 181); // danger light
$color-find: rgb(55, 175, 199); // teal


// Media Query
/* 
375px - 480px    sm-mobile
769px - 1024px   md-laptop
1025px - 1200px  lg-laptop

$breakpoint argument 

sm

md

lg
*/

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (min-width: 375px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (min-width: 1025) {
      @content;
    }
  }
}

@mixin btnRest($backgroundColor, $color) {
  background-color: $backgroundColor;
  color: $color;
}

@mixin btnActive($backgroundColor, $color, $borderColor) {
  // Btn for hover
  background-color: $backgroundColor;
  color: $color;
  border: 1px solid $borderColor;
}
