.search {
  &__searchBar--label {
    padding: 1rem;
    background-color: $color-main3;

    display: grid;
    justify-items: center;
  }
  &__searchBar--input {
    border: 1px solid rgb(201, 201, 201);
    width: 10rem;
    padding: 5px;
    border-radius: 4px;
  }
  &__intro {
    text-align: center;
  }
}

.card {
  border: 1px solid rgb(235, 235, 235);
  padding: 1rem;
  margin: 0.5rem;

  width: 10rem;
  display: grid;
  grid-template-rows: max-content max-content max-content;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  grid-gap: 0.5rem;

  &--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
  }

  &__img {
    height: 10rem;
  }
  &__title {
    margin: 0;
  }
  &__author {
  }
}
