.btn {
  background-color: $color-main0;
  color: $color-main1;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;

  &--setting-cancel {
  }
  &--setting-two {
  }
  &--setting-danger {
    background-color: $color-main1;
    color: $color-danger;
    border-color: $color-danger;
  }
}
