.visible {
  transform: translateX(0) !important;
}

.nav {
  background-color: $color-main0;
  position: relative;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 4rem min-content;

  &__title {
    font-size: 1.2rem;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    padding: 0 2rem;
  }

  &__nav-list {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;

    display: grid;
    height: max-content;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color-main0;
    transform: translateX(-100vw);
    transition: all 0.4s ease;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 1rem;
    padding: 1rem 0;

    @include respond(md) {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;

      padding: 0;
      margin: 0;
      width: 77vw !important;

      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      transform: scale(1);
    }
  }

  &__nav-item {
    list-style: none;
    padding: 0 1rem;
  }

  &__link {
    color: white;
    text-decoration: none;

    &--small {
    }
  }

  &__search {
    @include respond(md) {
      width: 15vw;
    }
  }

  &__btn {
    background-color: transparent;
    color: $color-find;
    border: 1px solid $color-find;
    border-radius: 4px;
    padding: 5px;
  }

  &__burger-btn {
    padding: 0 2rem;
    cursor: pointer;
    background-color: $color-main0;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(md) {
      display: none;
    }
  }

  &__press {
  }

  &__slice {
  }
}
